.header {
display: grid;
grid-template-columns:  1fr min-content 1fr;
align-items: center;
padding: 92px 49px ;
}

.header__links-list {
display: flex;
gap: 32px;
}

.header__links-list-item {
    font-size: 18px;
    font-weight: 400;
}

.header__link {
    border-bottom: 1px, solid;
    font-weight: 400;
}
.header__link-active {
    border-bottom: none;
}
.header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
    
}
.header__logo-image {
    display: block;
    height: 114px;
}
.address {
    font-size: 18px;
    max-width: 240px;
    font-style: normal;
    line-height: 24.3px;
}

.header__address {
    justify-self: right;
}
.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
